.trending {
    /* background-color: rgb(79, 89, 89); */
    background-color: #333452;
    flex: 4
}

.trending_text {
    font-size: 20px;
    font-weight: 500;
    color: #ccbd9d;
    padding-left: 24px;
    margin-bottom: 18px;
    padding-top:10px;
}

.trending_wrapper {
    background-color:#222248;
    height: 41vh;

}

.trending_div {
    display: flex;
    justify-content: space-between;
    padding: 0px 23px;
    margin-bottom: 10px;
}

.trending_text_1 {
    font-size: 9px;
    color: #fff;
    margin-bottom: 3px;
}

.trending_text_2 {
    font-size: 9px;
    color: #b6a1a7;
}

.trending_img {
    display: flex;
}

.trendingsong_name_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5px;
}

.trendingtime {
    font-size: 11px;
    margin-right: 7px;
    color: #9c9e9f;
}

.play {
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.moodimg {
    height: 35px;
    width: 35px;
    border-radius: 5px;
    cursor: pointer;
}

.trending_play {
    display: flex;
    align-items: center;
}